@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 1400px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background: hsl(0, 0%, 98%);
}

.container{
    height: 100%;
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container > .main.sections {
    margin-bottom: 20px;
}

.main{
    padding: 10px;
    height: 200px;
    width: 100%;
    text-align: center;
}

.main p {
    margin-top: 20px;
}

h1,h2{
    font-size: 22px;
    color: hsl(234, 12%, 34%);
}

h1.thick,h2{
    font-weight: 600;
}

h1.thin{
    font-weight: 400;
    color: hsl(229, 6%, 66%);
}

p{
    color:hsl(234, 12%, 34%);;
    font-weight: 200;
}

.sections{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    
}

.section{
    position: relative;
    box-shadow: 0 5px 15px hsl(229, 6%, 66%);
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    padding-top: 30px;
    height: 250px;
}

.section img {
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.supervisor{
    border-top:5px solid hsl(180, 62%, 55%);
}

.builder{
    border-top:5px solid hsl(0, 78%, 62%);
}

.karma{
    border-top:5px solid hsl(34, 97%, 64%);
}

.calc{
    border-top:5px solid hsl(212, 86%, 64%);
}